body{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center ;
    background-color: #9b7f6a;
    
}
.container{
    background-color: #f3e4c9;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:4px;
    marign:10px 0;
    gap: 10px;
}
.form label{
    width:180px;
    text-align:left;
}
.form input{
    padding:8px;
    width:250px;
}
h1{
    margin-top: 10px;
    text-align: center;
    color: #a54c46;
}
button{
    background-color: rgb(233, 225, 225);
    border-radius:6px ;
    padding: 6px 10px;
    border:1px solid black;
    
}
button:hover {
  background-color:rgb(204, 201, 201);
  cursor: pointer;
  border:2px solid black;

}
table{
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;
    margin-top: 15px;
    width: 70%;
    border: 1px solid black;
   border-radius: 20px;
   overflow: hidden;
   
}
th, td{
    padding: 5px;
    border:1px solid black;
}

td{
    padding: 10px;
}
th{
    background-color: rgb(175, 167, 167);
}

input{
    border: 1px solid rgb(20, 20, 20);
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    width: 150px;
    

}
.sort-btn{
    background-color: #ffcdc9;
    color: black;
}

.edit-btn{
    background-color: #aedefc;
    color: black;
    margin-right: 5px;
}
.del-btn{
    background-color: #e36a6a;
    color: black;
}
.add-btn{
    background-color: #94a378;
    width:120px;
}


#btn{
   padding: 10px 15px;
   color: black;
}

.action{
    margin:10px 0;
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}
#search{
    height: 22px;
}
.action label{
    width:180px;
    text-align:left;
}
.action input{
    padding:8px;
    width:250px;
}
